.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/public/assets/VasagarVattamBg.png');
    background-repeat: repeat-y;
    background-size: 100% ;
padding: 100px 60px;
}
.container h1 {
font-size:68px;
color:#eabe6c;
margin-bottom: 30px;
}
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
}
.leftCardComp{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    
}
.leftCardComp p {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #ffedd8;
}
.leftCardComp img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}


.image{
position: relative;
height: 400px;
}

.overlay{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 0 160px;
    color: #eabe6c;
    font-size: 30px;
}
.overlay:hover{
    opacity: 1;
    cursor: pointer;
    background-color: #240a349a;
    opacity: 1;
}
.overlayLeft{
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.overlayRight{
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
}


.rightCardComp{
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.rightCardComp img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;}
    .rightCardComp p {
        margin-top: 20px;
        color: #ffedd8;
        font-size: 30px;
        font-weight: 600;
    }
