.section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.backImg {
    background-image: url("/public/assets/3.jpeg.jpg");
    filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Lower z-index */
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #240a34a8;
    z-index: 2; /* Higher z-index than backImg */
}

.container {
    position: relative; /* Change to relative */
    z-index: 3; /* Higher z-index than overlay */
}

.text {
    position: relative; /* Change to relative */
    z-index: 4; /* Higher z-index than container */
    color: white; /* Change text color to ensure visibility */
}
.image img {
    width: 512px;
    height: 512px;
    object-fit: cover;
}