.section{
    width: 100%;
    height: 100vh;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #891651ab;
    z-index: 2;
}
.backImg{
    top: 0;
    position: absolute;
    background-image: url('/public/assets/silambam.jpg');
    background-size:cover;
    filter: blur(20px);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
.content{
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    z-index: 6;
    padding: 50px;
}
.content h1{
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    color:#ffeed9;

}
 * {
    margin:0;
}